.fixed-bottom{
    background-color: whitesmoke;
    position: absolute;
    width: 1440px;
    height: 96px;
    left: 0px;
    top: 660px;
}

h4{
    color: black;
    font-size: medium;
}
h6{
    color: black;
    font-weight: 100;
    font-size: small;
    
}
.p-3{
    position: absolute;
    width: 730px;
    height: 51px
}