.footer_container {

  width: min(90%,1600px);
  margin-inline: auto;  
position: absolute;
background-color: #ffffff;
width: 1900px;
height: 96px;
top: 1650px;
padding-bottom: 100px;
}


.footer_rectangle {
      padding-left: 31%;    
      width: 1000px;
      height: 96px;
      left: 535px;
      right: 355px;
      background-color: #ffffff;
    }
  
    .footer_role {
        padding-top: 23px;
        font-family: "Kumbh Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        color: #19202d;
      }

      .footer_company {
        padding-top: 12px;
        font-family: "Kumbh Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    
        color: #6E8098;
      }
    
      .footer_button {
        cursor: pointer;
        border-style: none;
        position: absolute;
        width: 141px;
        height: 48px;
        left: 1132px;
        top: 25px;
        background: #5964E0;
        border-radius: 5px;
      }

      .footer_button_text {
        font-family: 'Kumbh Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
      }



      @media only screen and (max-width: 800px)
      {

        .footer_container {

        width: min(100%,800px);
        margin-inline: auto;  
        position: absolute;
        background-color: #ffffff;
        height: 96px;
        top: 1820px;
        padding-bottom: 100px;
        }
        
        
        .footer_rectangle {
              padding-left: 8%;    
              width: min(90%,800px);
              height: 96px;
              left: 0px;
              right: 0px;
              background-color: #ffffff;
            }
          
            .footer_role {
                padding-top: 23px;
                font-family: "Kumbh Sans";
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 25px;
                color: #19202d;
              }
        
              .footer_company {
                padding-top: 12px;
                font-family: "Kumbh Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
            
                color: #6E8098;
              }
            
              .footer_button {
                cursor: pointer;
                border-style: none;
                position: absolute;
                width: 141px;
                height: 48px;
                left: 76%;
                top: 25px;
                background: #5964E0;
                border-radius: 5px;
              }
        
              .footer_button_text {
                font-family: 'Kumbh Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                color: #FFFFFF;
              }

      }




      @media only screen and (max-width: 400px)
  {

      .footer_container {
      width: min(100%,400px);
      margin-inline: auto;  
      position: absolute;
      background-color: #ffffff;
      height: 96px;
      top: 2925px;
      padding-bottom: 100px;
    }
    
    
    .footer_rectangle {

          padding-left: 0%;    
          width: min(100%,400px);
          height: 96px;
          left: 0px;
          right: 0px;
          background-color: #ffffff;
        }
      
        .footer_role {
          visibility: hidden;
            padding-top: 23px;
            font-family: "Kumbh Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 25px;
            color: #19202d;

          }
    
          .footer_company {
            visibility: hidden;
            padding-top: 12px;
            font-family: "Kumbh Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        
            color: #6E8098;
          }
        
          .footer_button {
            cursor: pointer;
            border-style: none;
            position: absolute;
            width: min(100%,327px);
            height: 48px;
            left: 36.5px;
            top: 25px;
            background: #5964E0;
            border-radius: 5px;
            
          }
    
          .footer_button_text {
            font-family: 'Kumbh Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: #FFFFFF;
          }
    
    

  }