.App {
    color: black;
    width: 100%;
    height: 100vh;
    text-align: center;
}
.App .btn1 {
    width: 150px;
    height:60px;
    background-color: blue;
    color: violet;
    border: none;
    border-radius: 1px;
    margin: 20px;
}

.App .btn1:hover {
 cursor: pointer;
 color: blueviolet;
 background-color: rgb(99, 99, 226);
 transition:background-color 0.3s;
 border: 3px solid rgb(180, 238, 180);
}

.App .btn2 {
    width: 150px;
    height:60px;
    background-color: blueviolet;
    color: antiquewhite;
    border: none;
    border-radius: 5px;
    margin: 20px;

}
.App .btn2:hover {
    cursor: pointer;
    color: violet;
    background-color: aqua;
    transition:background-color 0.5s;
    border: 3px solid rgb(31, 134, 231);
   }