.container{
    position: absolute;
    width: 730px;
    height: 140px;
    left: 355px;
    top: 120px;
}
.row{
    height: 140px;
}
.bg-success{
    width: 140px;
}
.bg-danger{
    background: #E99210;
    
}

.scoot-box{
    position: absolute;
    width: 730px;
    height: 140px;
    left: 0px;
    top: 0;
    border-radius: 0px 0px 0px 6px;
}
    
.scoot-name-orange{
    background: #E99210;
    position: absolute;
    width: 140px;
    height: 140px;
    left: 0px;
    top: 0px;
    text-align: center;
    font-weight: 500;
    color: white;
    padding-top: 50px;
}

.btn-primary{
    position: absolute;
    width: 130px;
    height: 40px;
    left: 440px;
    top: 50px;
    background: #828bd8fb;
    mix-blend-mode: normal;
    border-radius: 5px;
}

.apply{
    top: 32px;
    left: 940px;
}
.middle{
    background-color: white;
}
.middle-text{
    position: absolute;
    width: 78px;
    height: 56px;
    left: 180px;
    top: 42px;
    color: black;
}
.middle-low-text{
    position: absolute;
    width: 78px;
    height: 56px;
    left: 180px;
    top: 75px;
    color: black;
    font-weight: 300;
    font-size: small;
}
.bg{
    background-color: white;
}
