.container{
    position: absolute;
    width: 730px;
    height: 140px;
    top: 125px;
    background-color: white;
}
.row{
    height: 140px;
}

.scoot-box{
    position: absolute;
    width: 730px;
    height: 140px;
    left: 0px;
    top: 0;
    border-radius: 0px 0px 0px 6px;
}
    
.scoot-name-orange{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 140px;
    height: 140px;
    left: 0px;
}

.btn-primary{
    cursor: pointer;
    border-style: none;
    position: absolute;
    width: 147px;
    height: 48px;
    left: 540px;
    top: 40px;
    border-radius: 5px;
    background-color: #dde1f8;
   
}

.apply{
    top: 32px;
    left: 940px;
}
.middle{
    background-color: white;
}
.middle-text{
    position: absolute;
    width: 500px;
    height: 56px;
    left: 180px;
    top: 42px;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

color: #19202D;
}
.middle-low-text{
    position: absolute;
    padding-top: 13px;
    width: 78px;
    height: 56px;
    left: 180px;
    top: 75px;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #6E8098;
}
.bg{
    background-color: white;
}

.button_text {
    color: #5964E0;
    font-family: "Kumbh Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.header_svg {
    width: 70px;
    height: auto;
  }
